<!DOCTYPE html>
<html>

<head>
    <title>TiDB SQL Tunner</title>
    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <style>
        /* Add blue border to the left and right columns */
        .row-eq-height {
            display: flex;
            flex-wrap: wrap;
        }

        .left-column,
        .right-column {
            border: 2px solid #FFF;
            /* Blue border color */
            padding: 10px;
            /* Add some padding for visual appeal */
            flex: 1;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">TiDB SQL Tuner</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Tune</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history/first">History</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Error Message Box -->
    <div class="container mt-3" id="errorBox" style="display: none;">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error:</strong> <span id="errorMessage"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div class="container-fluid mt-1">
        <div class="row row-eq-height">
            <div class="col-md-6 left-column">
                <h1>Input</h1>
                <form id="uploadForm" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="planReplayerInput" class="form-label">Plan Replayer</label>
                        <input type="file" class="form-control" id="planReplayerInput" name="file">
                    </div>
                    <div class="mb-3">
                        <label for="originalSQLInput" class="form-label">Original SQL</label>
                        <textarea class="form-control" id="originalSQLInput" name="original_sql" rows="8"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="schemasInput" class="form-label">Schemas</label>
                        <textarea class="form-control" id="schemasInput" name="schemas" rows="6"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="statisticsInfoInput" class="form-label">Statistics Info</label>
                        <textarea class="form-control" id="statisticsInfoInput" name="stats_info" rows="6"></textarea>
                    </div>

                    <!-- Center the "Tune" button -->
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary me-2" id="tuneButton">Tune</button>
                        <button type="button" class="btn btn-secondary" id="clearButton">Clear</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 right-column">
                <h1>Output</h1>
                <div class="mb-3">
                    <label for="tunedSQLOutput" class="form-label">Tuned SQL</label>
                    <textarea class="form-control" id="tunedSQLOutput" rows="12" readonly></textarea>
                </div>
                <div class="mb-3">
                    <label for="whatChangedOutput" class="form-label">What Changed and Why</label>
                    <textarea class="form-control" id="whatChangedOutput" rows="6" readonly></textarea>
                </div>
                <div class="mb-3">
                    <label for="moreIndexSuggestionsOutput" class="form-label">More Index Suggestions</label>
                    <textarea class="form-control" id="moreIndexSuggestionsOutput" rows="6" readonly></textarea>
                </div>
            </div>
        </div>
    </div>

    <div id="versionToggle" class="btn-group position-fixed top-0 end-0 mt-3 me-3" role="group" aria-label="GPT Version">
        <button type="button" class="btn btn-primary active" id="gpt35">gpt-3.5-turbo</button>
        <button type="button" class="btn btn-secondary" id="gpt40">gpt-4</button>
    </div>

    <!-- jQuery and Bootstrap JS links -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <!-- CodeMirror JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
    <!-- CodeMirror SQL mode -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/sql/sql.min.js"></script>


    <script>
        $(document).ready(function () {
            gptVersion = "gpt-3.5-turbo";

            // Handle file selection event
            $('#planReplayerInput').change(function () {
                $('#originalSQLInput, #schemasInput, #statisticsInfoInput').val('');
                $('#tunedSQLOutput, #whatChangedOutput, #moreIndexSuggestionsOutput').val('');

                var form = $('#uploadForm')[0];
                var formData = new FormData(form);

                $.ajax({
                    url: '/parse',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        // Update the input fields with the parsed data
                        $('#originalSQLInput').val(data.original_sql);
                        $('#schemasInput').val(data.schemas);
                        $('#statisticsInfoInput').val(data.stats_info);
                    },
                    error: function () {
                        show('An error occurred during parsing.');
                    }
                });
            });

            // Handle form submission on button click
            $('#tuneButton').click(function () {
                $(this).prop('disabled', true).text('Tuning...');
                $('#tunedSQLOutput, #whatChangedOutput, #moreIndexSuggestionsOutput').val('');

                var form = $('#uploadForm')[0];
                var formData = new FormData(form);
                formData.append('gpt_version', gptVersion);
                formData.delete('file');

                $.ajax({
                    url: '/tune',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.error) {
                            alert(data.error);
                            return;
                        }
                        $('#tunedSQLOutput').val(data.tuned_sql);
                        $('#whatChangedOutput').val(data.what_changed);
                        $('#moreIndexSuggestionsOutput').val(data.index_suggestion);
                    },
                    error: function () {
                        showError('An error occurred during processing.');
                    },
                    complete: function () {
                        // Re-enable the "Tune" button and revert its text to "Tune"
                        $('#tuneButton').prop('disabled', false).text('Tune');
                    }
                });
            });

            $('#clearButton').click(function () {
                // Clear all input and output fields
                $('#uploadForm')[0].reset();
                $('#tunedSQLOutput, #whatChangedOutput, #moreIndexSuggestionsOutput').val('');
            });

            function updateLabelTitle(inputElement) {
                var inputLength = inputElement.val().trim().length;
                var label = $('label[for="' + inputElement.attr('id') + '"]');

                if (inputLength > 4000) {
                    if (label.text().indexOf(' - Too long') === -1) {
                        label.text(label.text() + ' - Too long');
                    }
                } else {
                    label.text(label.text().replace(' - Too long', ''));
                }
            }

            // Bind event listeners to "Schemas" and "Statistics Info" inputs for both "input" and "change" events
            $('#schemasInput, #statisticsInfoInput').on('input change', function () {
                updateLabelTitle($(this));
            });

            $('#versionToggle >.btn').click(function () {
                // Remove the 'active' class from all buttons
                $('#versionToggle > .btn').removeClass('active');
                $('#versionToggle > .btn').removeClass('btn-primary');
                $('#versionToggle > .btn').addClass('btn-secondary');

                // Add the 'active' class to the clicked button
                $(this).addClass('active');
                $(this).addClass('btn-primary');
                $(this).removeClass('btn-secondary');

                // Get the selected option (3.5 or 4.0)
                gptVersion = $(this).text();
            });

            function showError(message) {
                $('#errorMessage').text(message);
                $('#errorBox').fadeIn();
            }

            // Function to hide the error message
            function hideError() {
                $('#errorBox').fadeOut();
            }
        });
    </script>
</body>

</html>